<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default green">
    <div class="panel-heading text-center green">
      <h3>Triple C Boarding</h3>
    </div>
    <div class="panel-body text-center green">
      <p>
        Triple C offers both pasture boarding and stall boarding options, we strive to meet any needs you and your horse have while boarding with us, just let us know what you need! We have many different payment plans available from monthly through yearly.
      </p>
      <p>
        Boarding with us is a great way to build your confidence and a great relationship with your horse! We are a very friendly barn and want to work with you to meet your needs. We do group shows, trail rides, team penning and much more!
      </p>

    </div>
  </div>
</div>

<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default yellow">
    <div class="panel-heading text-center yellow">
      <h3>Pricing</h3>
    </div>
    <div class="panel-body text-center yellow">
      <ul>
        <li>
          12x12 Stall with no run: $410/month
        </li>
        <li>
          12x12 Full board with stall and run: $425/month
        </li>
        <li>
          Paddock with shelter (mud free): $440/month*
        </li>
        <li>
          Training and boarding**: $750/month*
        </li>
        <li>
          Horse in Training Lessons: $35/each
        </li>
      </ul>
      <h6>
        <p>
          *You provide the grain.
        </p>
        <p>
          **Your second month of training comes with three free lessons. 60 day commitment to start.
        </p>
        <p>
          ***View our <%= link_to("training page", training_path, class: "training-link") %> for more information on horse training.
        </p>
      </h6>
      <%= image_tag("http://www.triplecpleasurehorses.com/images/boarding.jpg", alt: "boarding stalls") %>
    </div>
  </div>
</div>
