<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default green">
    <div class="panel-heading text-center green">
      <h3>Triple C Horses For Sale</h3>
    </div>
  </div>
</div>

<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default yellow">
    <div class="panel-heading text-center yellow">
      <h3>Spirit</h3>
    </div>
    <div class="panel-body text-center yellow">
      <p>
        Spirt one our best lesson and show horses. Been there done that kind of mare. Showmanship, halter, patterns, western pleasure, always top five any show, cattle sorting and gaming, Kidsafe OR small adult looking for a bomb proof mount. She is a beautiful bay mare 15 hands. 225.00 monthly lease opt available. Lessons also available. Private treaty for sale to right home!
      </p>
      <%= image_tag("http://www.triplecpleasurehorses.com/images/spirit-fs.jpg", alt: "boarding stalls", height: "400px", width: "550px") %>
    </div>
  </div>
</div>

<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default yellow">
    <div class="panel-heading text-center yellow">
      <h3>Eldorado</h3>
    </div>
    <div class="panel-body text-center yellow">
      <p>
        Eldorado 10 year old reg Arabian gelding. 15.1 hands, buckskin in color, very well trained, safe for all levels. Eldorado is seasoned in halter, western riding, trail riding, cattle sorting, gaming, trail obstacles. Eldorado is available for in barn lease or forsale. A very nice all around gelding. Lease price starts at $225.00 monthly. Sale price $ 3500.00      </p>
      <%= image_tag("http://www.triplecpleasurehorses.com/images/eldorado-fs.jpg", alt: "boarding stalls", height: "400px", width: "550px") %>
    </div>
  </div>
</div>

<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default yellow">
    <div class="panel-heading text-center yellow">
      <h3>Poco</h3>
    </div>
    <div class="panel-body text-center yellow">
      <p>
        She is a very safe and reliable mare. Been camping, trail riding, arena rides with ease. She is easy to cue and has been there done that. Easy keeper, loves to be pampered, nice stall manners good with her feet and is up to date on vaccines. She is available for sale or in barn lease. Please contact Crystal to meet Poco.      </p>
      <%= image_tag("http://www.triplecpleasurehorses.com/images/forsale/poco.jpg", alt: "boarding stalls", height: "400px", width: "550px") %>
    </div>
  </div>
</div>

<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default green">
    <div class="panel-heading text-center green">
      <h3>Triple C Leasing</h3>
    </div>
    <div class="panel-body text-center green">
      <p>
        We offer 6 month or 12 month lease options $260.00 a month. Half and full leasing options available. Riding lessons required at one time per week ($35)
      </p>
    </div>
  </div>
</div>
