<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default green">
    <div class="panel-heading text-center green">
      <h3>Triple C Lessons</h3>
    </div>
    <div class="panel-body text-center green">
      <p>
        Triple C is proud to offer horse riding lessons for all ages and experience levels and can provide a horse for you to learn on if you don't have one! We are very friendly and love to teach people how to properly ride a horse. Some of the basics we teach:
        <ul>
          <li>
            How to be a rider not a passenger
          </li>
          <li>
            How to communicate with your horse
          </li>
          <li>
            How to handle the way your horse is acting
          </li>
          <li>
            How to saddle and maintain your horse
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>

<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default yellow">
    <div class="panel-heading text-center yellow">
      <h3>Lesson Fee Schedule</h3>
    </div>
    <div class="panel-body text-center yellow">
      <ul>
        <li>
          1.5 Hour Group Lesson: $45
        </li>
        <li>
          1 Hour Private Lesson: $45
        </li>
        <li>
          Additional 30min: $15
        </li>
      </ul>
      <h6>
        <p>
          *Pay attention to your lesson time, time includes grooming, saddling, riding and untacking.
        </p>
      </h6>
    </div>
  </div>
</div>
