<div class="col-md-9 col-md-offset-2">
  <div id="slider" class="flexslider yellow">
    <ul class="slides">
      <% 37.times do |i| %>
        <li data-thumb=<%= "/assets/gallery/#{i + 1}.jpg" %>>
          <%= image_tag("/assets/gallery/#{i + 1}.jpg", alt: "horse") %>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="carousel" class="flexslider yellow">
    <ul class="slides">
      <% 37.times do |i| %>
        <li data-thumb=<%= "/assets/gallery/#{i + 1}.jpg" %>>
          <%= image_tag("/assets/gallery/#{i + 1}.jpg", alt: "horse") %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
