<div class="col-md-9 col-md-offset-2">
  <div class="flexslider yellow">
    <ul class="slides">
      <li data-thumb="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRrhixizH3096IlT9Vj7wZwqWTUYfrfvmndYufb3KAS2rTx_pSYdw">
        <%= image_tag("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRrhixizH3096IlT9Vj7wZwqWTUYfrfvmndYufb3KAS2rTx_pSYdw", alt: "horse") %>
      </li>
      <li data-thumb="https://upload.wikimedia.org/wikipedia/commons/4/46/043_S%C3%A6var_fr%C3%A1_Stangarholti.jpg">
        <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/4/46/043_S%C3%A6var_fr%C3%A1_Stangarholti.jpg", alt: "horse") %>
      </li>
      <li data-thumb="http://cdn.thehorse.com/images/cms/2013/11/chestnut-horse-conformation-shot.jpg?preset=medium">
        <%= image_tag("http://cdn.thehorse.com/images/cms/2013/11/chestnut-horse-conformation-shot.jpg?preset=medium", alt: "horse") %>
      </li>
      <li data-thumb="http://www.crackerboxpalace.org/wp-content/uploads/2016/04/Blind-Horse-2.jpg">
        <%= image_tag("http://www.crackerboxpalace.org/wp-content/uploads/2016/04/Blind-Horse-2.jpg", alt: "horse") %>
      </li>
    </ul>
  </div>
</div>
