<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default yellow">
    <div class="panel-heading text-center yellow">
      <h3>Triple C Stallions</h3>
    </div>
    <p>
      Triple C Pleasure horses is proud to offer the services of Smooth Lil' Jessie a registered 2004 Dun Stallion, FQHR, ABRA, AQHA. Jessie's bloodlines include greats like: Collins Jessie, Poco Bueno, Jessie James, Billy Clegg and King. Contact us for details.
    </p>
    <div class="panel-body text-center yellow">
      <%= image_tag("http://www.triplecpleasurehorses.com/images/boarding.jpg", alt: "boarding stalls") %>
    </div>
  </div>
</div>
