<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default green">
    <div class="panel-heading text-center green">
      <h3>Triple C Training</h3>
    </div>
    <div class="panel-body text-center green">
      <p>
        Our training program is well rounded with over 50 years of combined experience! Leandro and Crystal are highly regarded in all disciplines of riding. Together, they look forward to taking you and your horse to the next level in the show ring.  Whether it be up in the hills or to achieve a personal goal! We can teach you and any breed of gaited horse you have in: Western Pleasure, Gaming, Working Cow, and Gaiting. Through our training process your horse gains many hours of trail experience which is a major part of the foundation and confidence building we believe all horses should have. Your horses will enjoy it as much as you!
      </p>
      <p>
        Our goal for you and your horse is increased confidence, developing a better seat and balance in the saddle, and lighter hands and aides for your horse. Trailer loading, clipping and bathing are just part of the daily routine.
      </p>
      <p>
        Training requires a 60 day commitment to get started and starting the second month of training you receive 3 free lessons per month!
      </p>
    </div>
  </div>
</div>

<div class="col-md-9 col-md-offset-2">
  <div class="panel panel-default yellow">
    <div class="panel-heading text-center yellow">
      <h3>Pricing</h3>
    </div>
    <div class="panel-body text-center yellow">
      <ul>
        <li>
          Training (5 days a week with board and hay): $700
        </li>
        <li>
          Lessons: $35/hour
        </li>
        <li>
          Consultation*: $125
        </li>
      </ul>
      <h6>
        <p>
          *Rider Assessment: posture, seating, hand control, balance; Horse Assessment: shoeing, gait, balance, head set; Tack Assessment: saddle fit, bit.
        </p>
      </h6>
    </div>
  </div>
</div>
