body {
  padding-top: 99px;
  font-size: 20px;
  font-family: monospace;
  color: #e6e6e6;
  background-color: #333333;
}

.carousel-inner {
    position: absolute;
    width: 40%;
    overflow: hidden;
}
